<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#">Back</ion-back-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-title class="center" >หยอง Shop</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../assets/product/KD14.jfif" >
        <div class="center">
          KD 14 <br>
          ราคา : 3,300 <br>
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <img src="../../../assets/product/AntaKAI12-6.jpg">
        <div class="center">
          Anta KAI1 <br>
          ราคา : 5,600 <br>
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../../assets/product/harden 5.jpg" >
        <div class="center">
          Harden 5 <br>
          ราคา : 2,000 <br>
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <img src="../../../assets/product/nike-ja-1-bite-red-stardust-fv1288-600-2.webp" >
        <div class="center">
          Nike Ja1<br>
          ราคา : 3,600 <br>
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
  </ion-row>
  </ion-grid>
 </div>
</ion-content>
